# Ignore Python cache files
__pycache__
*.pyc

# Ignore virtual environment folder
venv/

# Ignore logs
*.log

# Ignore environment variables files
.env

badtokens_data_collection
goodtokens_data_collection
data_analysis/token_data.zip