# Ignore Python cache files
__pycache__/config.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
__pycache__/wrappers.cpython-312.pyc
*.pyc

# Ignore virtual environment folder
venv/

# Ignore logs
*.log

# Ignore environment variables files
.env

badtokens_data_collection
goodtokens_data_collection
data_analysis/token_data.zip
csv_outputs/good_tokens/master_contract_OLD.csv